.loginBtn {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 300px;
}

.submitBtn {
  width: 100%;
}

.socialsWrapper {
  display: flex;
  justify-content: center;
}