.item {
  display: flex;
  gap: 10px;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 290px;
  margin-bottom: 15px;
}

.deleteButton {
  margin-top: auto;
  margin-bottom: 15px;
}

.sumWrapper {
  width: 100px;
}