.formRow {
  display: flex;
}

.dynamicTableRow {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.formRow {
  display: flex;
  gap: 20px;
}

.percentText {
  display: flex;
  align-self: flex-end;
  margin-right: 10px;
}

.maxPercentRubles {
  align-self: flex-end;
}

.submitButton {
  margin-top: 15px;
}